title = 'Zichen Qin'
baseUrl = 'https://blog.withzichen.com/'
languageCode = 'en-us'

defaultContentLanguage = 'en-us'
enableEmoji = true
ignoreErrors = ["additional-script-loading-error"]
publishDir = "production"

theme = "blog-theme"

disableKinds = ["taxonomy", "term"]

[taxonomies]
  category = "categories"
  tag = "tags"

[markup]
  [markup.highlight]
    noClasses = false
  [markup.goldmark.renderer]
    unsafe = true
    xhtml = true
	[markup.tableOfContents]
		startLevel = 2 # ToC starts from H2
		endLevel = 4 # ToC ends at H4
		ordered = false # generates <ul> instead of <ol>

[Languages.en-us]
  languageName = "English"
  languageCode = "en-us"
  contentDir = "content"
  weight = 1

  [Languages.en-us.menu]
  [[Languages.en-us.menu.main]]
    # The page reference (pageRef) is useful for menu highlighting
    # When pageRef is set, setting `url` is optional; it will be used as a fallback if the page is not found.
    pageRef=""
    name = 'Home'
    url = '/'
    weight = 1
  [[Languages.en-us.menu.main]]
    pageRef="blog"
    name = 'Blog'
    url = '/blog/'
    weight = 2
  [[Languages.en-us.menu.main]]
    pageRef="projects"
    name = 'Projects'
    url = '/projects/'
    weight = 3
  [[Languages.en-us.menu.main]]
    pageRef="about"
    name = 'About'
    url = '/about/'
    weight = 4

[Languages.en-us.params]
  sitename = "Zichen Qin"
  defaultColor = "dark" # set color mode: dark, light, auto
  # Setting it to 'auto' applies the color scheme based on the visitor's device color preference.If you don't specify anything, ignore this parameter, or leave it blank,
  # the default value is set to 'auto'.
  # You can take a look at layouts/index.html for more information.
  description = "Personal website for my blogs, projects, among other things"
  tocOpen = false # set to true to open table of contents by default
  goToTop = true # set to false to disable 'go to top' button
  additionalScripts = []
  # Will try to load 'assets/js/custom.js' and 'assets/js/custom-2.js'.
  # Your custom scripts will be concatenated to one file `custom.js`.
  # When building for production it will be minified.
  # The file `custom.js` is loaded on each page (before body tag ends).
  dateFormat = "Jan 02, 2006" # date format used to show dates on various pages. If nothing is specified, then "2 Jan 2006" format is used.
  # See https://gohugo.io/functions/format/#hugo-date-and-time-templating-reference for available date formats.
  rssFeedDescription = "full" # available options: 1) summary 2) full
  # summary - includes a short summary of the blog post in the RSS feed. Generated using Hugo .Summary .
  # full - includes full blog post in the RSS feed. Generated using Hugo .Content .
  # By default (or if nothing is specified), summary is used.
  math = true

[Languages.en-us.params.author]
  avatar = "avatar.jpg" # put the file in assets folder; also ensure that image has same height and width
  # Note: image is not rendered if the resource(avatar image) is not found. No error is displayed.
  intro = "Hey there! "
  name = "Zichen Qin"
  description = "I'm Zichen. Here, you can find and read my [blog posts](/blog/), look at some of my [past projects](/projects/), or learn more [about me](/about/). "

# Allow to override webmanifest options
[Languages.en-us.params.webmanifest]
  name = "Zichen Qin" # will use "params.sitename" or "title" by default
  short_name = "Zichen Q." # same as name
  start_url = "/" # will use homepage url by default
  theme_color = "#434648" # default is "#434648" (base color of text). Also will override html `<meta name="theme-color" />`
  background_color = "#fff" # by default depend on "params.defaultColor" for "light" or "auto" will be set to "#fff" for dark will be "#131418" (color of dark mode background)
  display = "standalone"

  
[params.browserconfig]
  TileColor = "#2d89ef" # default windows 10 blue tile color

[[params.socialIcons]]
name = "github"
url = "https://github.com/somedude72"

[[params.socialIcons]]
name = "youtube"
url = "https://youtube.com/@somedude_72"

